{{ with .Params.tags }}
<div class="footer">
{{ else }}
<div class="footer no-tags">
{{ end }}

    {{ with .Params.tags }}
        <div class="tags">
            <i class="fa fa-tags"></i>
            <div class="links">
                {{ range . }}
                    <a href="{{ (print "/tags/" (. | urlize)) | relLangURL }}">{{ . }}</a>
                {{ end }}
            </div>
        </div>
    {{ end }}

    {{ if .IsTranslated }}
    <div class="languages">
        <i class="fa fa-language"></i>
        <div class="links">
            {{ range .Translations }}
                <a href="{{ .Permalink }}">{{ .Lang }}</a>
            {{ end }}
        </div>
    </div>
    {{ end }}
    {{ if .IsPage }}
    <div class="edit">
      <a href="https://github.com/taskmedia/blog/edit/master/content/{{ .File.Path }}">
        <i class="fa fa-edit"></i>
        <div class="links">Edit</div>
      </a>
    </div>
    {{ end }}
</div>
